
main {

    padding: 40px 0;
    background-color: rgb(255, 255, 255);
}
.appointment__container {
    width: 500px;
    height: 740px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    margin-block-start: 5%;
    border-radius: 10px;
}


.appointment__container .appointment__wrapper {
    width: inherit;
    height: inherit;  
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 40px;

}

.appointment__wrapper form {
    background: #ffffff;
    width: inherit;
    height: inherit;
    padding: 26px;
    border: 1px solid #dbdae1;
    border-radius: inherit;
}
.appointment__wrapper form h3 {
    text-align: center;
    font-family: "Josefin Sans";
    font-size: 30px;
    color: #000080;
}
.input__container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.input__container span {
    padding: 0;
    margin: 10px;
    margin-right: auto;
    font-family: "Josefin Sans";
    color: #000080;
}
.input__container input {
    width: 100%;
    border: none;
    padding: 15px;
    border-radius: 20px;
    background: #d6dffa68;
}
.input__container input[type="text"], .input__container input[type="email"], .input__container input[type="date"], 
.input__container input[type="tel"], .input__container input[type="time"]{
    font-family: "Josefin Sans";
    font-size: 15px;
    font-weight: 400;
    color: #0a41b0;
}

.input__container select {
    width: 100%;
    margin: 14px;
    padding: 12px;
    border: none;
    background: none;
    font-size: 15px;
    font-family: "Josefin Sans";
    border-bottom: 1px solid #dbdae1;
    color: #000080;
}

.date__time{
    margin-right: 40px;
}
.date {
    margin: 10px 0;
}

.input__container textarea {
    width: 100%;
    border: none;
    resize: none;
    height: 80px;
    border-bottom: 1px solid #e7e7ec;
    background: none;
    margin-block-end: 35px;
}

.input__container button {
    padding: 13px;
    width: 100%;
    background-color: #000080;
    border-radius: 30px;
    color: #ffffff;
    font-size: 16px;
    font-family: "Josefin Sans";
    cursor: pointer;
    margin-bottom: 20px;
    transition: ease-out 0.4s;
}
.input__container button:hover {
    background-color: #2e2e32;
}

@media only screen and (max-width: 480px) {
    main{
        padding: 5% 0;
        margin-block-end: 20% !important;
    }
    .appointment__container {
        width: 310px;
    }
}